#blue{
       height: 150x;
       width: 100;
       background-color: blue;
       
}

#white{
       height: 150px;
       width: 100;
       background-color: white;
}

#red{
       height: 150px;
       width: 100;
       background-color: red;

}

div{
       display: inline-block;
}